* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  margin: 0px;
  list-style: none;
  scroll-behavior: smooth;
}

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.img1 {
  width: 400px;
  height: fit-content;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.visual {
  width: 100vw;
  min-height: 112px;
  position: relative;
  box-shadow: 0px 2px 0px 0px rgb(224, 224, 224);
}

header {
  position: absolute;
  left: 50%;
  width: 1200px;
  height: 112px;

  transform: translateX(-50%);
  color: black;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 30px;
}

header h1 {
  float: left;
}

header .gnb {
  display: flex;
  justify-content: center;
}

.gnb-ul {
  display: flex;
  text-align: center;
  gap: 50px;
  position: absolute;
  top: 45px;
  font-weight: bolder;
  list-style: none;
}

header .util {
  list-style: none;
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  gap: 15px;
}

header .menu {
  float: right;
}

header .allMenu {
  position: absolute;
  right: 0;
  top: 45px;
}

.search {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.btn1 {
  color: black;
  width: fit-content;
  background: transparent;
  border: none;
}

.allMenu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 30px;
}
/*sectionII*/
.sectionII {
  width: 100vw;
  height: 171px;
  position: relative;
}

.sectionIIContents h2 {
  font-size: 35px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.sectionIIContents {
  width: 1200px;
  height: 170px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tab_type1 {
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.tab_type1 li {
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 20px;
}

.tab_type1 li:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 0px 0px rgb(40, 40, 40);
  font-weight: bold;
}

.tab_type1 li a {
  font-size: 18px;
  color: #000;
  line-height: 48px;
  padding: 40px;
  width: 100px;
  height: 30px;
}

.searchBox {
  width: 100vw;
  height: 128px;
  display: flex;
  justify-content: center;
  background-color: #067fd9;
}

/*sectionIII*/
.sectionIII {
  width: 100vw;
  height: 1005px;
  position: relative;
}

.tab_type2 {
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  padding: 30px;
  box-sizing: border-box;
}

.tab_type2 button {
  width: 220px;
  height: 70px;
  border: 1px solid rgb(210, 210, 210);
}

.tab_type2 button:hover {
  background-color: #ffffff;
  border: 1px solid rgb(69, 69, 69);
}

.sectionIIIConntents {
  width: 1200px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid red;
}
.charset {
  width: 1200px;
  height: 82px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 0px 0px rgb(224, 224, 224);
}

.charset span {
  display: block;
}

.new {
  width: 15px;
  height: 15px;
}

.pdf {
  width: 80px;
  height: 30px;
}

.list_card {
  display: flex;
  position: absolute;
  right: 0px;
}
/*sectionVIII*/
.sectionVIII {
  width: 100vw;
  height: 72px;
  background-color: #0a1f55;
  color: rgb(0, 162, 255);
  position: relative;
}
.sectionVIII h2 {
  box-sizing: border-box;
  padding: 18px;
  text-align: center;
}

/*footer*/
.footer {
  width: 100vw;
  height: 284px;
  position: relative;
}

.footer-box1 {
  width: 1200px;
  height: 72px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footerContent {
  width: 100%;
  height: 72px;
  background-color: #f4f4f4;
}

.afterAll {
  width: 1200px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.afterAll img {
  width: 150px;
  height: 80px;
  position: absolute;
  top: 120px;
}

.afterAllbox1 {
  width: fit-content;
  display: flex;
  gap: 40px;
  padding: 30px 0 30px 0;
}

.otherthings {
  width: fit-content;
  height: 40px;
  padding: 30px 0 30px 0;

  float: right;
}

.otherthings h3 {
  font-size: small;
  display: inline-block;
  margin: 10px;
  color: aqua;
}

.otherthings h3 + h3 {
  color: black;
}

.otherthings p {
  margin: 5px 0 0 10px;
  color: #bbbbbb;
}
